USE [Common]
GO
/****** Object:  Schema [Common]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE SCHEMA [Common]
GO
/****** Object:  Schema [Platform]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE SCHEMA [Platform]
GO
/****** Object:  UserDefinedTableType [dbo].[udt_BigInt]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE TYPE [dbo].[udt_BigInt] AS TABLE(
	[Value] [bigint] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_Bit]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE TYPE [dbo].[udt_Bit] AS TABLE(
	[Value] [bit] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_Datetime]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE TYPE [dbo].[udt_Datetime] AS TABLE(
	[Value] [datetime] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_DatetimeOffset]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE TYPE [dbo].[udt_DatetimeOffset] AS TABLE(
	[Value] [datetimeoffset](7) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_Decimal]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE TYPE [dbo].[udt_Decimal] AS TABLE(
	[Value] [decimal](28, 8) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_Int]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE TYPE [dbo].[udt_Int] AS TABLE(
	[Value] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_String]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE TYPE [dbo].[udt_String] AS TABLE(
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_UniqueIdentifier]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE TYPE [dbo].[udt_UniqueIdentifier] AS TABLE(
	[Value] [uniqueidentifier] NULL
)
GO
/****** Object:  Table [Common].[Holiday]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Common].[Holiday](
	[HolidayUnit] [varchar](10) NOT NULL,
	[HolidayDate] [datetimeoffset](7) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Holiday] PRIMARY KEY CLUSTERED 
(
	[HolidayUnit] ASC,
	[HolidayDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Common].[Staff]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Common].[Staff](
	[ID] [varchar](30) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[HireDate] [datetimeoffset](7) NULL,
	[LeaveDate] [datetimeoffset](7) NULL,
	[Status] [int] NOT NULL,
	[UnitId] [varchar](10) NOT NULL,
	[JobGrade] [int] NULL,
	[JobTitle] [nvarchar](10) NULL,
	[PID] [varchar](10) NULL,
	[Email] [varchar](100) NULL,
	[Type] [int] NULL,
	[NotesId] [nvarchar](50) NULL,
	[Mobile] [varchar](20) NULL,
	[TelExt] [varchar](8) NULL,
	[WorkPlace] [varchar](20) NULL,
	[JcicUnitJson] [nvarchar](200) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Common].[Unit]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Common].[Unit](
	[ID] [varchar](10) NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ShortName] [nvarchar](50) NULL,
	[ParentId] [varchar](10) NULL,
	[Level] [int] NULL,
	[Manager] [varchar](10) NULL,
	[BusinessType] [char](2) NULL,
	[BranchType] [int] NULL,
	[Area] [char](3) NULL,
	[Region] [char](2) NULL,
	[Zip] [varchar](5) NULL,
	[Address] [nvarchar](200) NULL,
	[TelZone] [varchar](4) NULL,
	[TelNo] [varchar](20) NULL,
	[FaxZone] [varchar](4) NULL,
	[FaxNo] [varchar](20) NULL,
	[ValidDate] [datetimeoffset](7) NULL,
	[ExpireDate] [datetimeoffset](7) NULL,
	[LastUpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Platform].[Changelog]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[Changelog](
	[UID] [uniqueidentifier] NOT NULL,
	[Type] [varchar](30) NOT NULL,
	[KeyMain] [varchar](30) NOT NULL,
	[KeyExt1] [varchar](30) NULL,
	[KeyExt2] [varchar](30) NULL,
	[Updater] [varchar](10) NULL,
	[UpdatedDate] [datetimeoffset](7) NOT NULL,
	[PatchJson] [nvarchar](max) NULL,
	[AdditionJson] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Changelog]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE CLUSTERED INDEX [IX_Changelog] ON [Platform].[Changelog]
(
	[KeyMain] ASC,
	[Type] ASC,
	[KeyExt1] ASC,
	[KeyExt2] ASC,
	[UpdatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [Platform].[Code]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[Code](
	[Type] [varchar](50) NOT NULL,
	[Value] [varchar](50) NOT NULL,
	[UID] [uniqueidentifier] NOT NULL,
	[ParentUid] [uniqueidentifier] NULL,
	[Text] [nvarchar](1000) NULL,
	[AdditionData] [nvarchar](max) NULL,
	[Ordinal] [int] NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_資料表1] PRIMARY KEY CLUSTERED 
(
	[Type] ASC,
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[CodeType]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[CodeType](
	[Type] [varchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CanInsert] [bit] NOT NULL,
	[CanDelete] [bit] NOT NULL,
	[HasAdditionData] [bit] NOT NULL,
	[FixedJson] [varchar](2000) NULL,
	[MinDepth] [int] NOT NULL,
	[MaxDepth] [int] NOT NULL,
 CONSTRAINT [PK_CodeType] PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[FileStore]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[FileStore](
	[StoreUid] [uniqueidentifier] NOT NULL,
	[StorePath] [varchar](500) NOT NULL,
	[FileName] [nvarchar](1000) NULL,
	[Size] [bigint] NULL,
	[Category] [varchar](100) NULL,
	[ExpireDate] [datetime] NULL,
	[Creator] [varchar](10) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_FileStore] PRIMARY KEY CLUSTERED 
(
	[StoreUid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Platform].[FlowHistory]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[FlowHistory](
	[UID] [uniqueidentifier] NOT NULL,
	[OperateTime] [datetime] NOT NULL,
	[OperateType] [int] NOT NULL,
	[Operator] [varchar](10) NULL,
	[AssignTo] [varchar](10) NULL,
	[OldStatus] [int] NULL,
	[NewStatus] [int] NULL,
	[Reason] [nvarchar](2000) NULL,
 CONSTRAINT [PK_FlowHistory] PRIMARY KEY CLUSTERED 
(
	[UID] ASC,
	[OperateTime] ASC,
	[OperateType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Platform].[FlowLog]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[FlowLog](
	[FlowUid] [uniqueidentifier] NOT NULL,
	[PlanId] [varchar](200) NOT NULL,
	[FlowAdditionDataJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_FlowLog] PRIMARY KEY CLUSTERED 
(
	[FlowUid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[FlowLogTask]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[FlowLogTask](
	[FlowUid] [uniqueidentifier] NOT NULL,
	[TaskUid] [uniqueidentifier] NOT NULL,
	[TaskId] [varchar](20) NULL,
	[TaskName] [nvarchar](200) NULL,
	[ParentTaskUid] [varchar](max) NULL,
	[SignerDeadline] [datetimeoffset](7) NULL,
	[SignerId] [varchar](20) NOT NULL,
	[SignTime] [datetimeoffset](7) NOT NULL,
	[SignOperation] [varchar](20) NULL,
	[SigneeType] [int] NULL,
	[SigneeDeadline] [datetimeoffset](7) NULL,
	[ChildrenTaskUidJson] [nvarchar](max) NULL,
	[ParameterJson] [nvarchar](max) NULL,
	[AdditionDataJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_FlowTaskLog] PRIMARY KEY CLUSTERED 
(
	[FlowUid] ASC,
	[TaskUid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[FlowLogTaskSignee]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[FlowLogTaskSignee](
	[FlowUid] [uniqueidentifier] NOT NULL,
	[TaskUid] [uniqueidentifier] NOT NULL,
	[SigneeId] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [Platform].[FlowTodo]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[FlowTodo](
	[FlowUid] [uniqueidentifier] NOT NULL,
	[PlanId] [varchar](200) NOT NULL,
	[FlowAdditionDataJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_FlowTodo] PRIMARY KEY CLUSTERED 
(
	[FlowUid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[FlowTodoTask]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[FlowTodoTask](
	[FlowUid] [uniqueidentifier] NOT NULL,
	[TaskUid] [uniqueidentifier] NOT NULL,
	[TaskId] [varchar](20) NULL,
	[TaskName] [nvarchar](200) NULL,
	[Status] [int] NOT NULL,
	[ParentTaskUid] [varchar](max) NULL,
	[ParentSignedTime] [datetimeoffset](7) NULL,
	[SigneeType] [int] NOT NULL,
	[SigneeDeadline] [datetimeoffset](7) NULL,
	[AdditionDataJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_FlowTaskTodo] PRIMARY KEY CLUSTERED 
(
	[FlowUid] ASC,
	[TaskUid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[FlowTodoTaskSignee]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[FlowTodoTaskSignee](
	[FlowUid] [uniqueidentifier] NOT NULL,
	[TaskUid] [uniqueidentifier] NOT NULL,
	[SigneeId] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [Platform].[Help]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[Help](
	[Name] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[ContentHtml] [nvarchar](max) NULL,
	[LastUpdater] [varchar](10) NULL,
	[LastUpdatedDate] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_Help] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[Job]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[Job](
	[UID] [uniqueidentifier] NOT NULL,
	[UserId] [varchar](30) NULL,
	[SetTime] [datetimeoffset](7) NOT NULL,
	[ExpectedStartTime] [datetimeoffset](7) NOT NULL,
	[ActualStartTime] [datetimeoffset](7) NULL,
	[EndTime] [datetimeoffset](7) NULL,
	[Method] [varchar](200) NOT NULL,
	[ParameterTypesJson] [varchar](1000) NULL,
	[Parameters] [varchar](max) NULL,
	[ResultJson] [varchar](max) NULL,
	[ResultType] [int] NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[Menu]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[Menu](
	[UID] [uniqueidentifier] NOT NULL,
	[ParentUid] [uniqueidentifier] NULL,
	[ProgramUid] [uniqueidentifier] NULL,
	[Name] [varchar](30) NOT NULL,
	[Url] [nvarchar](500) NULL,
	[PermissionCondition] [varchar](400) NULL,
	[Ordinal] [int] NOT NULL,
	[CategoryJson] [nvarchar](200) NULL,
	[Comment] [nvarchar](max) NULL,
	[LastUpdater] [varchar](10) NULL,
	[LastUpdatedDate] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[Program]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[Program](
	[UID] [uniqueidentifier] NOT NULL,
	[Code] [varchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PermissionCondition] [varchar](400) NULL,
	[Help] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
	[LastUpdater] [varchar](10) NULL,
	[LastUpdatedDate] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_Program] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_Program] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[ProgramProfile]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[ProgramProfile](
	[ProgramUid] [uniqueidentifier] NOT NULL,
	[ProfileKey] [varchar](100) NOT NULL,
	[ValueJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProgramProfile] PRIMARY KEY CLUSTERED 
(
	[ProgramUid] ASC,
	[ProfileKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[SecurityGroup]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[SecurityGroup](
	[UID] [uniqueidentifier] NOT NULL,
	[Code] [varchar](100) NOT NULL,
	[Type] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[ImportToken] [varchar](100) NULL,
	[ImportDate] [datetime] NULL,
	[ExpireDate] [datetimeoffset](7) NULL,
	[LastUpdater] [varchar](10) NULL,
	[LastUpdatedDate] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_SecurityGroup] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_SecurityGroup] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[SecurityPermission]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[SecurityPermission](
	[UID] [uniqueidentifier] NOT NULL,
	[ParentUid] [uniqueidentifier] NULL,
	[Code] [varchar](100) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[LastUpdater] [varchar](10) NULL,
	[LastUpdatedDate] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_SecurityPermission] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_SecurityPermission] UNIQUE NONCLUSTERED 
(
	[ParentUid] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[SecurityRelation]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[SecurityRelation](
	[Type] [int] NOT NULL,
	[SourceUid] [uniqueidentifier] NOT NULL,
	[TargetUid] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[LastUpdater] [varchar](10) NULL,
	[LastUpdatedDate] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_SecurityRelation] PRIMARY KEY CLUSTERED 
(
	[Type] ASC,
	[SourceUid] ASC,
	[TargetUid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[SecurityRole]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[SecurityRole](
	[UID] [uniqueidentifier] NOT NULL,
	[Code] [varchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[ExpireDate] [datetimeoffset](7) NULL,
	[LastUpdater] [varchar](10) NULL,
	[LastUpdatedDate] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_SecurityRole] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_SecurityRole] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Platform].[Serials]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[Serials](
	[SerialType] [varchar](20) NOT NULL,
	[SerialKey] [varchar](20) NOT NULL,
	[SerialValue] [int] NOT NULL,
 CONSTRAINT [PK_Serials] PRIMARY KEY CLUSTERED 
(
	[SerialType] ASC,
	[SerialKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Platform].[SystemConfig]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[SystemConfig](
	[Name] [varchar](50) NOT NULL,
	[Value] [nvarchar](1000) NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_SystemConfig] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Platform].[User]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[User](
	[UID] [uniqueidentifier] NOT NULL,
	[ID] [varchar](30) NOT NULL,
	[Staff] [varchar](30) NOT NULL,
	[LoginCount] [int] NULL,
	[LastLoginDate] [datetimeoffset](7) NULL,
	[ActivateDate] [datetimeoffset](7) NOT NULL,
	[ExpireDate] [datetimeoffset](7) NULL,
	[LastUpdater] [varchar](10) NULL,
	[LastUpdatedDate] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_User] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Platform].[UserProfile]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Platform].[UserProfile](
	[UserUid] [uniqueidentifier] NOT NULL,
	[ProfileKey] [varchar](100) NOT NULL,
	[ValueJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[UserUid] ASC,
	[ProfileKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Staff]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE NONCLUSTERED INDEX [IX_Staff] ON [Common].[Staff]
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Staff_1]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE NONCLUSTERED INDEX [IX_Staff_1] ON [Common].[Staff]
(
	[NotesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Unit]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE NONCLUSTERED INDEX [IX_Unit] ON [Common].[Unit]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Unit_1]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE NONCLUSTERED INDEX [IX_Unit_1] ON [Common].[Unit]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Unit_2]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE NONCLUSTERED INDEX [IX_Unit_2] ON [Common].[Unit]
(
	[Region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Changelog_1]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE NONCLUSTERED INDEX [IX_Changelog_1] ON [Platform].[Changelog]
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Job]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE NONCLUSTERED INDEX [IX_Job] ON [Platform].[Job]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Menu]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE NONCLUSTERED INDEX [IX_Menu] ON [Platform].[Menu]
(
	[ParentUid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_1]    Script Date: 2018/7/6 下午 04:02:46 ******/
CREATE NONCLUSTERED INDEX [IX_User_1] ON [Platform].[User]
(
	[Staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [Platform].[mp_ProgramProfile_SetValue]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Platform].[mp_ProgramProfile_SetValue]
	@ProgramUid uniqueidentifier, 
	@ProfileKey varchar(100),
	@ValueJson nvarchar(max),
	@oldValueJson nvarchar(max)
AS
BEGIN
	if(@oldValueJson is null) begin
		update Common.Platform.ProgramProfile set ValueJson = @ValueJson where ProgramUid = @ProgramUid and ProfileKey = @ProfileKey
		if(@@ROWCOUNT = 0) insert into Common.Platform.ProgramProfile (ProgramUid, ProfileKey, ValueJson) values (@ProgramUid, @ProfileKey, @ValueJson)
	end else begin
		update Common.Platform.ProgramProfile set ValueJson = @ValueJson where ProgramUid = @ProgramUid and ProfileKey = @ProfileKey and ValueJson = @oldValueJson
	end
END

GO
/****** Object:  StoredProcedure [Platform].[mp_Serials_GetSerial]    Script Date: 2018/7/6 下午 04:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Platform].[mp_Serials_GetSerial]
	@serialType varchar(20), @serialKey varchar(20), @maxValue int = 2147483647, @serialCount int = 1, @cycle bit = 1
AS
BEGIN
	declare @modValue bigint = convert(bigint, @maxValue) + 1
	declare @newValue int, @checkValue bigint
	SET XACT_ABORT ON
	begin tran
	update Common.Platform.Serials set 
		@checkValue = SerialValue + @serialCount,
		@newValue = SerialValue = (SerialValue + @serialCount) % @modValue
		where SerialType = @serialType and SerialKey = @serialKey
	if (@newValue is null) begin 
		if (@cycle = 0 and (-1 + @serialCount) > @maxValue) RAISERROR('serial overflow', 16, -1)
		set @newValue = (-1 + @serialCount) % @modValue
		insert into Common.Platform.Serials (SerialType, SerialKey, SerialValue) values (@serialType, @serialKey, @newValue)
	end else begin
		if (@cycle = 0 and @checkValue > @maxValue) begin
			rollback tran
			RAISERROR('serial overflow', 16, -1)
		end
	end	
	commit tran
	select @newValue
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'檔案UID' , @level0type=N'SCHEMA',@level0name=N'Platform', @level1type=N'TABLE',@level1name=N'FileStore', @level2type=N'COLUMN',@level2name=N'StoreUid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'檔案儲存路徑' , @level0type=N'SCHEMA',@level0name=N'Platform', @level1type=N'TABLE',@level1name=N'FileStore', @level2type=N'COLUMN',@level2name=N'StorePath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'實際檔名' , @level0type=N'SCHEMA',@level0name=N'Platform', @level1type=N'TABLE',@level1name=N'FileStore', @level2type=N'COLUMN',@level2name=N'FileName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'檔案大小' , @level0type=N'SCHEMA',@level0name=N'Platform', @level1type=N'TABLE',@level1name=N'FileStore', @level2type=N'COLUMN',@level2name=N'Size'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'檔案類型' , @level0type=N'SCHEMA',@level0name=N'Platform', @level1type=N'TABLE',@level1name=N'FileStore', @level2type=N'COLUMN',@level2name=N'Category'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'保存期限' , @level0type=N'SCHEMA',@level0name=N'Platform', @level1type=N'TABLE',@level1name=N'FileStore', @level2type=N'COLUMN',@level2name=N'ExpireDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建立者' , @level0type=N'SCHEMA',@level0name=N'Platform', @level1type=N'TABLE',@level1name=N'FileStore', @level2type=N'COLUMN',@level2name=N'Creator'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建立時間' , @level0type=N'SCHEMA',@level0name=N'Platform', @level1type=N'TABLE',@level1name=N'FileStore', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
